/* style.css */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .bg-primary {
    background-color: #2C6DBC !important;
  }
  
  .text-primary {
    color: #2C6DBC !important;
  }
  
  footer {
    background-color: #333333;
  }
  
  footer a {
    color: #FFFFFF;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .nav-link {
    color: #333333;
  }
  
  .nav-link:hover {
    color: #2C6DBC;
  }
  
  .card {
    border: none;
    border-radius: 0.5rem;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1.25rem;
  }
  